<div class="hero" style="background-image: url('/images/index_backgrounds/grass.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="/images/index_avatars/eye.gif" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
      {% include custom/welcome.html %}
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
    You must become an old man in good time if you wish to be an old man long. - <a href="http://www.quoteland.com/author/Marcus-Tullius-Cicero-Quotes/955/?pg=1" target="_blank" rel="nofollow">Marcus Tullius Cicero</a> 
    <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank" rel="nofollow" class="licence"><small>(by-nc-nd)</small></a>
    </p>
  </div>
</div>
